<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
  <br>
  <a href="https://www.google.com">WEB問診・Flixyへのお問い合わせはこちら！</a>
</p>